<h1>Questions</h1>

<div class="container">
  <ul>
    <% @posts.each do |post| %>
      <li><a href="<%= post_path(post) %>"><%= post.title %></a></li>
    <% end %>
  </ul>
</div>

<div class="new-question-container">
  <a href="<%= new_post_path %>">Add a new post</a>

</div>
